:root {
  /* ### Primary */

  --color-Dark-Violet: hsl(256, 26%, 20%);
  --color-Grayish-Blue: hsl(216, 30%, 68%);
  --color-Very-Dark-Violet: hsl(270, 9%, 17%);
  --color-Dark-Grayish-Violet: hsl(273, 4%, 51%);
  --color-Very-Light-Gray: hsl(0, 0%, 98%);

  --Dark-Violet-Hue: 256;
  --Dark-Violet-Sat: 26%;
  --Dark-Violet-Light: 20%;

  --Grayish-Blue-Hue: 216;
  --Grayish-Blue-Sat: 30%;
  --Grayish-Blue-Light: 68%;

  /* ### Neutral */

  --Very-Dark-Violet-Hue: 270;
  --Very-Dark-Violet-Sat: 9%;
  --Very-Dark-Violet-Light: 17%;

  --Dark-Grayish-Violet-Hue: 273;
  --Dark-Grayish-Violet-Sat: 4%;
  --Dark-Grayish-Violet-Light: 51%;

  --Very-Light-Gray-Hue: 0;
  --Very-Light-Gray-Sat: 0%;
  --Very-Light-Gray-Light: 98%;

  --ff-DM-Serif-Display: "DM Serif Display", serif;
  --ff-Karla: "Karla", sans-serif;

  --fw-normal: 400;
  --fw-Karla-bold: 700;

  --fontSize: 16px;

  font-size: var(--fontSize);

  --font-size-x9-small: var(--fontSize) * 0.9;
  --font-size-x8-small: var(--fontSize) * 0.8;
  --font-size-x7-small: var(--fontSize) * 0.7;
  --font-size-x7-5-small: var(--fontSize) * 0.75;
  --font-size-x6-small: var(--fontSize) * 0.6;
  --font-size-x5-small: var(--fontSize) * 0.5;

  --font-size-x1-large: var(--fontSize) * 1.1;
  --font-size-x2-large: var(--fontSize) * 1.2;
  --font-size-x3-large: var(--fontSize) * 1.3;
  --font-size-x4-large: var(--fontSize) * 1.4;
  --font-size-x5-large: var(--fontSize) * 1.5;
  --font-size-x6-large: var(--fontSize) * 1.6;
  --font-size-x7-large: var(--fontSize) * 1.7;
  --font-size-x8-large: var(--fontSize) * 1.8;
  --font-size-x9-large: var(--fontSize) * 1.9;
  --font-size-x20-large: var(--fontSize) * 2;
  --font-size-x25-large: var(--fontSize) * 2.5;
  --font-size-x30-large: var(--fontSize) * 3;
  --font-size-x35-large: var(--fontSize) * 3.5;
  --font-size-x40-large: var(--fontSize) * 4;
  --font-size-x45-large: var(--fontSize) * 4.5;
  --font-size-x50-large: var(--fontSize) * 5;

  --wrapper: 90%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: var(--fontSize);
  font-family: var(--ff-Karla);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: var(--wrapper);
  padding: 2rem 0;
}

.header-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
}

.header-menu li + li {
  margin-left: 1rem;
}

.header-menu li {
  color: hsl(
    var(--Dark-Grayish-Violet-Hue),
    var(--Dark-Grayish-Violet-Sat),
    var(--Dark-Grayish-Violet-Light),
    0.75
  );
  font-weight: var(--fw-Karla-bold);
  text-transform: uppercase;
}

#header-menu-btn {
  border: 2px solid var(--color-Dark-Violet);
  padding: 0.5rem 1.5rem;
  color: var(--color-Dark-Violet);
}
